appdirs
arrow==0.4.2
diff-match-patch==20110725.1
Django==1.10
django-cors-headers==1.0.0
django-debug-toolbar==1.0
django-debug-toolbar-template-timings==0.6.6
django-extensions==1.3.3
django-mathfilters==0.3.0
django-polymorphic==0.5.5
django-redis==4.7.0
django-request==1.1.0
django-widget-tweaks==1.3
djrill==1.0.0
ipython==2.0.0
jsonfield==2.0.1
meld3==1.0.0
MySQL-python==1.2.5
newrelic==2.68.0.50
packaging==16.8
pyparsing==2.1.10
python-dateutil==2.2
pytz==2014.2
redis==2.10.1
requests==2.2.1
six==1.6.1
sqlparse==0.1.12
supervisor==3.1.0
tablib==0.9.11
ujson==1.35
uWSGI==2.0.4
xlwt==0.7.5

