

<!-- confirm-delete modal -->
<div id="confirm-delete" class="modal fade" data-backdrop="static"  role="dialog">
        <div class="modal-dialog modal-md" style="margin-top:150px";>

                <!-- Modal content-->
                <div class="modal-content">
                        <div class="modal-body cnf-delete">
                        	<h4>Are you sure you want to delete the rule?</h4>
			</div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-success" ng-click="confirm_delete()">Yes</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					
			</div>
                </div>
        </div>
</div>

